<div class="container-fluid">
  <div class="row my-1">
    @for (i of prudectfilt; track prudect) {
    <div class="col-3 my-2">
      <div class="card border border-2 shadow-lg" style="width: 18rem">
        @if (show) {
        <img [src]="i.pImg" class="card-img-top" alt="..." />
        }
        <div class="card-body">
          <h5 class="card-title">{{ i.pname }}</h5>
          <p class="card-text">Quantity : {{ i.pquantity }}</p>
          <p class="card-text">Price : {{ i.psarly | currency : "EGP " }}</p>
          <button
            class="btn btn-primary px-3 me-1"
            [disabled]="i.pquantity == 0"
          >
            <i class="fa-solid fa-cart-shopping pe-2"></i> buy
          </button>
          <button
            class="btn border border-3"
            [ngClass]="{
              'text-danger btn-outline-light border-danger': (i.show) == true,
              'text-dark btn-outline-info': (i.show) == false
            }"
            (click)="toggel(i.pid)"
          >
            {{ (i.show) ? "Hiden" : "Show" }} Img
          </button>
        </div>
      </div>
    </div>
    } @empty {
    <h1 class="text-center text-danger">No data</h1>
    }
  </div>
</div>
